<section class="hero" id="hero">
  <!-- Carrusel Swiper como fondo -->
  <div class="swiper hero__carousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/heros/hero0.png" alt="PLASTIMET" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero1.png" alt="Fábrica" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero2.jpg" alt="Planta industrial" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero3.png" alt="Producción" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero4.jpg" alt="Instalaciones" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero5.png" alt="Productos" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero6.jpg" alt="Catálogo" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero7.jpg" alt="Catálogo" class="hero__slide-img">
      </div>
      <div class="swiper-slide">
        <img src="/images/heros/hero8.jpg" alt="Catálogo" class="hero__slide-img">
      </div>
    </div>
  </div>

  <!-- Panel diagonal oscuro con texto -->
  <div class="hero__diagonal-panel">
    <div class="hero__content">
      <h1 class="hero__title" id="typewriter"></h1>
      <p class="hero__subtitle" id="subtitle">
        Soluciones que resisten más, funcionan mejor y duran años.
      </p>
      <a href="#products" class="hero__cta" id="heroCta">
        Ver productos <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>

  <div class="hero__scroll-indicator">
    <div class="hero__scroll-arrow"></div>
    <div class="hero__scroll-arrow hero__scroll-arrow--2"></div>
    <div class="hero__scroll-arrow hero__scroll-arrow--3"></div>
  </div>
</section>